.container {
    height: 100%; /* 100% высоты минус высота верхних элементов */
}


.table-buttons {
    width: 100%;
    height: 75vh;
    table-layout: fixed;
}

.td-button {
    padding: 0;
    text-align: center;
}

.button-in-table-invs{
    display: none;
}

.button-in-table {
    width: 100%; /* Растягиваем кнопку на всю ширину ячейки */
    height: 100%; /* Растягиваем кнопку на всю высоту ячейки */
    border: 2px;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    background-color:  rgb(235, 46, 8);;
    color: white;
    cursor: pointer;
}

.button-in-table:hover {
    background-color: #0056b3;
}